body {
    /*background-image: url("images/ps.jpg");*/
    background-size: cover;
	}
img {
	opacity: 0.9;
	border-radius: 25px;
	padding: 05px;
	}
h1  {
    color: white;
    text-align: center;
	}

h2, p  {
    color: white;
    text-align: center;
    }
/*header {
    color:black;
    text-align:center;
    padding:01px;
	}*/
/*section {
    width:500px;
    padding:05px; 
	}
footer {
    background-color:white;
    clear:both;
    text-align:center;
    padding:05px; 
	}*/