body {
    background-image: url("images/me.jpg");
    background-size: cover;
    color: white;
	}
img {
	opacity: 0.9;
	border-radius: 25px;
	padding: 05px;
	}
h1  {
    text-align: center;
	}

h2  {
    color: gold;
    text-align: center;
    }

p  {
    text-align: center;
    }
.color-me{
    color: white;
}

.color-me2{
    color: black;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }
/*header {
    color:black;
    text-align:center;
    padding:01px;
	}*/
/*section {
    width:500px;
    padding:05px; 
	}
footer {
    background-color:white;
    clear:both;
    text-align:center;
    padding:05px; 
	}*/