
body {
    background-image: url("personal_bg.jpg");
    background-blend-mode: normal;
	}
img {
	opacity: 0.8;
	 border-radius: 25px;
	}
h1, h2, h3 {
    color: #000033;
    text-align: center;
	}
/*h2 {
	color: #000033;
    text-align: center;
	}*/
header {
    color:white;
    text-align:center;
    padding:05px;
	}
nav {
    line-height:20px;
    /*background-color:black;*/
    /*color: #000080;*/
    height:400px;
    width:200px;
    float:left;
    padding:10px; 
	}
section {
    width:500px;
    float:left;
    padding:10px; 
	}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
	}
